*,::before,::after{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
ul{ list-style: none; padding: 0;}
label{ display:block;}
img{ vertical-align: bottom;}
:disabled{ cursor: not-allowed;}
button{ padding: 0; cursor: pointer;}
.img-resp{ max-width: 100%; height: auto;}

@font-face {
    font-family: proxima;
    font-weight: 700;
    src: url(../fonts/ProximaNova-Bold.woff2);
    font-display: swap;
}
@font-face {
    
    font-family: proxima;
    font-weight: 400;
    src: url(../fonts/ProximaNova-Regular.woff2);
    font-display: swap;
}
@font-face {
    font-family: proxima;
    font-weight: 100;
    src: url(../fonts/ProximaNovaT-Thin.woff2);
    font-display: swap;
}

:root{
    font-size: 15px;    
    --ff: proxima, sans-serif;
    --red:#ca3c3c;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;   
}

body{
    font: 16px/1.3 var(--ff);
}

.container{
    max-width: 1200px;
    margin: auto;
    padding-inline: 1rem;
}

.row{
    display: flex;
    flex-flow: row wrap;   
    margin-inline: -1rem; 
}

[class^="col-"]{ flex: 1 0 auto; padding-inline: 1rem; }

.col-1{ flex-basis: 8.33%; max-width: 8.33%; }
.col-2{ flex-basis: 16.66%; max-width: 16.66%;}
.col-3{ flex-basis: 25%; max-width: 25%; }
.col-4{ flex-basis: 33.33%; max-width: 33.33%; }
.col-6{ flex-basis: 50%; max-width: 50%; }
.col-8{ flex-basis: 66.66%; max-width: 66.66%; }
.flex{ display: flex;}
.justify-content-space-between{ justify-content: space-between; }
.justify-content-center{ justify-content: center; }
.align-items-center{ align-items: center;}


/* CUSTOM */
header{ background: #000; color: #fff; position: sticky; top: 0; z-index: 1;}
h1{ font-size: 2rem;}
h1 a{ color: inherit; line-height: 80px; display: inline-block; }
nav{ margin-left: -20px; }
nav li{ margin: 0 5px;}
nav a{ color: inherit; display: block; padding: 0 1rem; line-height: 80px; }
.btn{ font: 16px var(--ff); width: 90px; height: 35px; border: 2px solid; color: var(--red); background: none; border-radius: 10px; flex-shrink: 0;}
.mob{ display: none; position: absolute; right: 1rem; top: 20px;}
.mob span{ display: block; height: 2px; background: var(--red); margin: 5px 12px; transition: 500ms; transform-origin: right center;}
.mob.active span:nth-child(1){ transform: rotate(-13deg); }
.mob.active span:nth-child(2){ opacity: 0; }
.mob.active span:nth-child(3){  transform: rotate(13deg);}


.video{ padding: 15rem 0;}
.wrap-2{ background: #666; color: #fff;}
.wrap-2 p{ font-size: 4rem; font-weight: 100; }
.wrap-2 a{ color: var(--red); }
.wrap-2 button{ font-size: 10rem; background: none; border: none; color: #fff; margin-right: 40px; }



.wrap-3{ background: var(--red); color: #fff; padding-block: 50px ;}
h2{ font-size: 72px; line-height: 60px; border-bottom: 10px solid; margin-bottom: 2rem;}
.circle{ width: 100px; border: 2px solid; height: 100px; border-radius: 50%; flex-shrink: 0; display: grid; place-items: center; font-size: 36px; margin-right: 2rem; }
.text h3{ font-size: 18px; margin-bottom: 10px; }
.text p{ font: 100 14px/22px var(--ff) }
.gy-60{ row-gap:4rem}



.wrap-4{ color: var(--red); text-align: center; font-size: 36px; line-height: 10rem; }



.wrap-5{ background: #ebebeb; color: #363636; padding:100px 0 140px;}
.wrap-5 .btn{ margin: 0 10px 4rem 0;}
.wrap-5 .btn.active{ background: var(--red); color: #fff; border-color: var(--red); }
.work{ position: relative; margin-bottom: 2rem; overflow: hidden; }
.over{ position: absolute; left: 0; right: 0; bottom: -50px; background: #fff; text-align: center; padding: 20px 0; transition: .5s; opacity: 0; }
.work h3{ color: var(--red); font-size: 18px; line-height: 40px;}
.work p{ font: 100 14px var(--ff); color: #898989; line-height: 20px;}
.work:hover .over{ opacity: 1; bottom: 0;}
.seemore{ color: var(--red); font-size: 36px; background: none; border: none;}



.wrap-6{ background: #666; color: #fff; padding: 4rem 0 2rem;}
.reviews{ text-align: center;}
.review{ display: none;}
.review.active{ display: block}
.review q{ font: 100 36px/41px var(--ff);}
.review img{ margin: 17px 0 10px; }
.review figcaption{ font-weight: bold;}
.pager ol{ list-style: none; padding: 0;}
.pager li{ margin: 30px 5px;}
.pager a{ display: block; width: 10px; height: 10px; border: 2px solid #fff; border-radius: 50%;}
.pager a.active{ background: #fff;} 



.wrap-7{ background: #fff; color: #363636; padding:100px 0 140px;}
.team{ position: relative; margin: 50px 0 40px;}
.social{ position: absolute; top: 60px; left: 140px;}
.social li{ margin-right: 10px;}
.social a{ display: block; background: var(--red); color: #fff; border-radius: 50%; width: 50px; line-height: 50px; text-align: center; font-size: 24px;}
.gap{ margin: 50px 0 0 100px;}
.gap h3{ color: var(--red); font-size: 18px; margin-bottom: 10px; }
.gap p{ color: #363636; font: 100 14px/22px var(--ff); margin-top: 2rem;}
.gap small{ color: #898989; font-size: 14px; font-weight: 100; }


.wrap-8{ padding: 85px 0 0 0; background: #666; color: #fff; text-align: center; }
.wrap-8 span.fa{ font-size: 72px;}
.wrap-8 p{ font: 100 72px var(--ff); }
.wrap-8 b{ font-size: 18px; margin-bottom: 70px; display: inline-block;}



.wrap-9{ background: #fff; color: #363636; padding:100px 0 125px;}
canvas{ background: #ddd; margin-top: 50px; max-width: 100%;}
.accordion{ margin-top: 50px;}
.accordion li{ margin-bottom: 10px; }
.accordion p{ font: 100 14px/22px var(--ff); margin: 20px; display: none; }
.accordion a{ display: block; border: 1px solid #ebebeb; border-radius: 10px; padding: 13px 19px; color: #898989; font: bold 14px var(--ff); }
.accordion a span.fa{ margin-right: 17px; }
.accordion a::after{ content: '+'; float: right;}
.accordion a.active{ color: var(--red); }
.accordion a.active::after{ content: '-'; }
.accordion li:first-child p{ display: block;}


.wrap-10{ background: var(--red); padding: 23px 0 22px;}
.wrap-10 input{ width: 370px; height: 35px; background: none; border: none; color: #fff; font: 100 36px var(--ff);}
.wrap-10 .btn{ background: #fff;}
.wrap-10 input::placeholder{ color: #fff;}
.wrap-10 input:focus{ outline: 1px dashed #fff;}


.wrap-11{ padding: 28px 0 0 0; background: #7f7f7f; color: #fff;}
.box{ line-height: 95px; background: #a6a6a6; text-align: center; font-size: 20px; margin-bottom: 27px; }


.wrap-12{ background: #ebebeb; color: #363636; padding:100px 0;}
address{ font: 16px var(--ff); line-height: 2rem; color: #898989;}
.soc li{ margin: 20px 20px 20px 0; }
.soc a{ color: var(--red);}
.wrap-12 label{ border: 2px solid; margin: 1rem 0; padding: 17px;}
.wrap-12 button{ border: none; background: #fff; width: 100%; margin: 1rem 0; height: 80px; color: var(--red); border-radius: 10px; font: 16px var(--ff)}
.wrap-12 button span.fa{ font-size: 36px; vertical-align: middle;}
.wrap-12 input{ background: none; border: none; }
.wrap-12 textarea{ resize: none; background: none; border: none; vertical-align: top; height: 42px; }
.wrap-12 :is(input,textarea):focus{ outline: none;}
.wrap-12 label:focus-within{ border-color: var(--red);}


.wrap-13{ background: #252525; color: #fff; text-align: center; padding: 50px 0; }
.wrap-13 h3{ font-size: 30px; margin-bottom: 10px; }
.wrap-13 button{ border: none; background: none; color: var(--red); font-size: 36px;}


@media screen and (max-width:1220px){
    :root{ font-size: 13px; }
    h2{ font-size: 62px;}
}

@media screen and (max-width:980px){
    .col-t-6{ flex-basis: 50%; max-width: 50%; }
    .col-t-12{flex-basis: 100%; max-width: 100%; }
    .col-t-hide{display: none;}
    .col-t-auto{ flex-basis: 20%; max-width: 20%;}
    .social{ top: 0; left: auto; right: 0; }
    .social ul{ flex-flow: column wrap; }
    .social li{ margin: 0 0 10px 0;}
    .gap{ margin-left: 50px;}
    .wrap-8 p{ font-size: 60px;}
}

@media screen and (max-width:767px){
    :root{ font-size: 12px; }
    .col-m-6{ flex-basis: 50%; max-width: 50%; }
    .wrap-2 p{ font-size: 3rem;}
    .wrap-5 .btn{ margin-right: 5px;}
    .wrap-8 p{ font-size: 50px;}
    .col-t-auto{ flex-basis: 33.33%; max-width: 50%;}
    .mob{ display:inline-block}
    header .collapse{ display: none; position: absolute; left: 0; right: 0; top: 80px; background: #000; padding: 1rem;}
    nav ul.flex{ display: block;}
    .collapse div.flex{ flex-flow: column; }
    nav{ width: 100%; text-align: right;}
    nav a{ line-height: 40px; }

}
@media screen and (max-width:460px){
    .col-p-4{ flex-basis: 33.33%; max-width: 33.33%; }
    .col-p-6{ flex-basis: 50%; max-width: 50%; }
    .col-p-12{flex-basis: 100%; max-width: 100%; }
    .wrap-2 .flex{ flex-flow: column;}
    .wrap-5 img{ width: 100%;}
    .wrap-10 input{ width: 240px; font-size: 24px;}
    .col-t-auto{ flex-basis: 50%; max-width: 100%;}
}